.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button {
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: var(--background-input);
  border: var(--border-input);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}
