.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content;
  align-items: center;
  gap: 0.75rem;
}

.button {
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: var(--background-input);
  border: var(--border-input);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  width: max-content;
}

.user {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
