* {
  box-sizing: border-box;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  color-scheme: light dark;
}

:root {
  --color-font: hsl(0, 0%, 3%);
  --background: hsl(0, 0%, 95%);
  --background-panel-1: hsl(0, 0%, 98%);
  --background-input: hsl(0, 0%, 96%);
  --border-input: 1px solid hsl(0, 0%, 80%);
  --border-panel-1: 1px solid hsl(0, 0%, 80%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --color-font: hsl(0, 0%, 98%);
    --background: hsl(0, 0%, 10%);
    --background-panel-1: hsl(0, 0%, 15%);
    --background-input: hsl(0, 0%, 23%);
    --border-input: 1px solid hsl(0, 0%, 28%);
    --border-panel-1: 1px solid hsl(0, 0%, 25%);
  }
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: var(--background);
  text-align: center;
  color: var(--color-font);
}

button {
  cursor: pointer;
}
